* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
}

.card {
    width: 200px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 2px 2px 8px #000;
    position: absolute;
    background-image: url("../img/image.png");
    background-size: 100% 100%;
}