* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 600px;
    height: 400px;
    position: relative;
    overflow: hidden;

}

.content {
    width: 600px;
    height: 400px;
    transition: all 0.5s;
    position: relative;
    inset: 0;
}

.item {
    position: absolute;
    width: 600px;
    height: 400px;
}

.img1 {
    left: 100%;
}

.img2 {
    left: -100%;
}

.img4 {
    top: 100%;
}

.img5 {
    top: -100%;
}

.left {
    /* transform: translateX(100%); */
    left: 100%;
}

.right {
    /* transform: translateX(-100%); */
    left: -100%;
}

.top {
    /* transform: translateY(100%); */
    top: 100%;
}

.bottom {
    /* transform: translateY(-100%); */
    top: -100%;
}