* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #000;
    color: #666;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

audio {
    width: 450px;
    margin: 30px 0;
}

.container {
    height: 420px;
    overflow: hidden;
}

.container ul {
    --progress: 0;
    /* transform: translateY(-50px); */
    transition: 0.5s;
    list-style: none;
}

.container li {
    height: 50px;
    line-height: 50px;
    /* transition: 0.2s; */
    background-size: 0 100%;
}

/* .container li.active {
    background-image: -webkit-linear-gradient(left, #4d10f3 var(--progress), rgb(243, 243, 9) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transform: scale(1.2);
} */


.container li.active {
    background: #5184AF -webkit-linear-gradient(left, #EEDE64, #EEDE64) no-repeat 0 0;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-size: 0 100%;
    animation: progress var(--progress) linear forwards;
}

.container li.paused {
    animation-play-state: paused;
    -webkit-animation-play-state: paused;
}

.container li.play {
    animation-play-state: '';
    -webkit-animation-play-state: '';
}

@keyframes progress {
    0% {
        background-size: 0 100%;
    }

    100% {
        background-size: 100% 100%;
    }
}