* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

.container {
    height: 100vh;
    position: relative;
}

.item {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: all 1s ease-in-out;
}

.item section {
    position: absolute;
    width: 100%;
    height: 100vh;
    text-align: center;
    line-height: 100vh;
    object-fit: cover;
    transition: all 1s ease-in-out;
}

h1 {
    color: white;
    text-shadow: 1px 1px 3px #000;
    z-index: 1;
    font-size: 3em;
    font-weight: 400;
}

.item.prev,
.item.next {
    z-index: 1;
    height: 0;

}

.item.next {
    bottom: 0;
}

.item.next section {
    bottom: 0;
}

.scroll-up .item.prev {
    height: 100%;
}

.scroll-down .item.next {
    height: 100%;
}